<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta http-equiv="expires" content="-1">
	<meta name="viewport" id='viewport' content="width=device-width, initial-scale=1, user-scalable=no">
	
	<title>Poet</title>
	<link rel="manifest" href="static/libs/manifest.json" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_543473_t82wxkwgzic9dx6r.css" />
	<link rel="stylesheet" href="static/style/index.css">
</head>
<body>
	
	<div class="body">
		<h1>雾灯的诗</h1>
		<ul>
			{% for item in models['现代诗歌']['雾灯诗选']['body'] %}
				<li>
					<h3>{{item.title}}</h3>
					{% for text in item.body %}
						<p>{{text}}</p>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
	</div>
	
</body>
<script src="static/libs/zepto.js"></script>
<script src="static/libs/spine.js"></script>
<script>
	
	var models = {{JSON.stringify(models)}};
	console.log(models['现代诗歌']['雾灯诗选']['body'],9);
	
	
	
</script>

				