<!--  -->
<style>
  .screen{
    position:fixed;
    left:100%;
    top:0px;
    width:100%;
    height:100%;
    background-image: url('/static/images/bg.jpg');
    background-size: cover;
    background-color:#fff;
    z-index:1000;
    display:flex;
    transition:300ms;
    flex-direction:column;
  }

  .screen.is-active{
    left:0px;
  }

  .screen-header{
    position:relative;
    height:50px;
		background:#CFB6A5;
		padding:0px 15px 0px 0px;
		display:flex;
		align-items:center;
		justify-content:flex-start;
		z-index:8;
		box-shadow: 0px 1px 6px #ccc;
		overflow: hidden;
		color:#efefef;
  }

  .screen-header p{
    height:100%;
    display:flex;
    padding-left:10px;
    align-items:center
  }

  .screen-header .iconfont{
    font-size:18px;
    margin-right: 10px;
  }

  .screen-body{
    background:rgba(255,255,255,0.7);
    flex:1;
    padding: 30px 15px;
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .screen-body h3{
    font-weight:bold;
    color: #CFB6A5;
    font-size:20px;
    padding-bottom: 10px;
  }

  .screen-body p{
    padding: 3px 0px;
    letter-spacing:3px;
    font-size:16px;
  }

  .screen-footer{
    height:50px;
    width:100%;
    padding:0px 15px;
    border-top:1px solid #dbdbdb;
    background:#F0F0F0;
    display:flex;
    justify-content:flex-end;
    color:#888;
    z-index:100;
  }
  .screen-footer p{
    display:inline-flex;
    height:100%;
    min-width:120px;
    align-items:center;
    justify-content:flex-end;
    font-size:14px;
  }
  .screen-footer p .iconfont{
    font-size: 16px;
    margin-left:10px;
  }
</style>

<div class="screen">
  <div class="screen-header">
    <p><i class="iconfont icon-zuojiantou"></i><span></span></p>
  </div>
  <div class="screen-body">
    <div>
      <h3></h3>
      <ul></ul>
    </div>
  </div>
  <div class="screen-footer">
    <p><span>next</span><i class="iconfont icon-jiantou"></i></p>
  </div>
</div>

<script>

  (function (){
    var Controller = Spine.Controller.sub({
        elements:{
          '.screen-body' : 'body',
          '.screen-body ul' : 'box',
          '.screen-body ul li' : 'items',
          '.screen-header' : 'header',
          '.screen-header span' : 'title',
          '.screen-footer' : 'footer',
          '.screen-footer span' : 'nextTitle'
        },

        events:{
          'click .screen-header p' : 'goBack',
          'click .screen-footer p' : 'next',
        },

        goBack(){
          window.history.go(-1);
        },

        next(){
          var nextIndex = Number(this.index)+1;
          var nextData = this.data.body[nextIndex] || {};
          if(nextData.title){ //--存在下一个数据项
            var hashs= document.location.hash.slice(1).split('&');
            var url = document.location.origin;
            hashs[2] = nextIndex;
            console.log(`${url}#${hashs.join('&')}`)
            document.location.replace(`${url}#${hashs.join('&')}`);
          };
        },

        render(){
          var data = this.data.body[this.index];
          var nextIndex = Number(this.index)+1;
          var nextData = this.data.body[nextIndex] || {};

          var text = `<li><h3>${data.title}</h3>`;
          var textArr = data.body.map(item=>{
            return `<p>${item}</p>`
          });

          text+= textArr.join('');
          text+="</li>";
          this.title.html(data.title);
          this.nextTitle.html(nextData.title || '没有了' )
          this.box.html(text);
          this.refresh();
        },

        refresh(){
          this.refreshElements();
          this.el.off();
          this.delegateEvents(this.events);
          this.scroller.refresh();
        },

        hashChange(){ //--hash变动
          var hashs= document.location.hash.slice(1).split('&');

          if(hashs.length>=3){
            var target = Object.values(window.models).find(item=>{
                  return hashs[0] == item['hash'];
            });
            this.data = Object.values(target.body).find(item=>{
              return item.hash == hashs[1];
            });
            this.index = hashs[2];
            this.render();
            this.el.addClass('is-active')
          }else{
            this.el.removeClass('is-active')
          };
        },

        init(){
          this.scroller =  new BScroll(this.body.get(0),{click:true});
          $(window).on('hashchange',this.hashChange.bind(this));
        }
    })

    window.addEventListener('load',function (){
      new Controller({el:$('.screen')});
    });

  })()




</script>
