
<style>
  .screen{
    position:fixed;
    left:100%;
    top:0px;
    width:100%;
    height:100%;
    background-color:#fff;
    z-index:1000;
    display:flex;
    transition:300ms;
    flex-direction:column;
  }

  .screen.is-active{
    left:0px;
  }

  .screen-header{
    position:relative;
    height:50px;
		background:#CFB6A5;
		padding:0px 15px 0px 0px;
		display:flex;
		align-items:center;
		justify-content:flex-start;
		z-index:8;
		box-shadow: 0px 1px 6px #ccc;
		overflow: hidden;
		color:#efefef;
    z-index: 20;
  }

  .screen-header p{
    height:100%;
    display:flex;
    padding-left:10px;
    align-items:center
  }

  .screen-header .iconfont{
    font-size:18px;
    margin-right: 10px;
  }

  .screen-body{
		margin: 20px 0px;
		padding: 0px 10px 0px 20px;
    background:rgba(255,255,255,1);
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
		position:relative;
		z-index:12
  }

  .screen-body h3{
    font-weight:bold;
    color: #CFB6A5;
    font-size:20px;
    padding-bottom: 10px;
  }

  .screen-body p{
    padding: 1px 0px;
		min-height:18px;
    letter-spacing:3px;
    font-size:19px;
		
  }
</style>

<div class="screen">
  <div class="screen-header">
    <p><i class="iconfont icon-zuojiantou"></i><span>返回</span></p>
  </div>
  <div class="screen-body">
    <div>
      <ul></ul>
    </div>
  </div>
</div>

<script>

  (function (){
    var Controller = Spine.Controller.sub({
        elements:{
          '.screen-body' : 'body',
          '.screen-body ul' : 'box',
          '.screen-body ul li' : 'items',
          '.screen-header' : 'header',
          '.screen-header span' : 'title',
        },

        events:{
          'click .screen-header p' : 'goBack',
        },

        goBack(){
          window.history.go(-1);
        },
				
        render(){
          var data = this.data.body[this.index];
          var text = `<li><h3>${data.title}</h3>`;
          var textArr = data.body.map(item=>{
            return `<p>${item}</p>`
          });
          text+= textArr.join('');
          text+="</li>";
          this.box.html(text);
          this.refresh();
        },

        refresh(){
          this.refreshElements();
          this.el.off();
          this.delegateEvents(this.events);
          this.scroller.refresh();
        },

        hashChange(){ //--hash变动
          var hashs= document.location.hash.slice(1).split('&');

          if(hashs.length>=3){
            var target = Object.values(window.models).find(item=>{
                  return hashs[0] == item['hash'];
            });
            this.data = Object.values(target.body).find(item=>{
              return item.hash == hashs[1];
            });
            this.index = hashs[2];
            this.render();
            this.el.addClass('is-active')
          }else{
            this.el.removeClass('is-active')
          };
        },

        init(){
          this.scroller =  new BScroll(this.body.get(0),{click:true});
          $(window).on('hashchange',this.hashChange.bind(this));
        }
    })

    window.addEventListener('load',function (){
      new Controller({el:$('.screen')});
    });

  })()
</script>
