*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
html,body{
	height:100%;
	width:100%;
	overflow: hidden;
	-webkit-text-size-adjust: none;
	font-family: "宋体";
}

body{
	position:relative;
	color:#4a4a4a;
	font-family: sans-serif;
	font-size:18px;
}

ul,li{
	list-style: none
}

.body{
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	background: #fff;
	padding-top:50px;
	display:flex;
}

.iconfont{
	font-size:26px;
}
